/* ref for dark configure: https://medium.com/@ebjonsberg/add-a-dark-light-mode-selector-to-your-next-js-project-b023f9c5649e */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #1d4ed8; /* blue-700 */
  --color-secondary: #6b7280; /* gray-500 */
  --color-hovered: oklch(0.967 0.003 264.542); /* gray-100 */
  --color-decorative: oklch(0.554 0.046 257.417);; /* slate-500 */
}

[data-mode='dark'] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --color-primary: #a78bfa; /* violet-400 */
  --color-secondary: #d1d5db; /* gray-300 */
  --color-hovered: oklch(0.279 0.041 260.031); /* slate-800 */
  --color-decorative: oklch(0.704 0.04 256.788); /* slate-400 */
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply transition-colors duration-1000;
  /* font-family: Arial, Helvetica, sans-serif; */
}
